.fundoCadastro {
  background-image: url("https://ik.imagekit.io/3ov0fr7b9/usuarios/2150169167.jpg?updatedAt=1739813560325");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
