.fundoLogin {
  background-image: url("https://ik.imagekit.io/3ov0fr7b9/usuarios/freepik__upload__69855.png?updatedAt=1739793575086   ");
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
